---
layout: archive
---

{{ content }}

<img src="assets/images/Unbenannt.png" alt="Example" width="1200" style="max-width: 100%; height: auto; margin-bottom: 20px;" />

<p>Herzlich Willkommen bei Energieberatung Vorderpfalz! </p>

<h3>Energieberatung:</h3>
<ul>
  <li>Energieberatung für Wohngebäude</li>
</ul>

<h3>Sanierung:</h3>
<ul>
  <li>Bundesförderung für effiziente Gebäude: Wohngebäude</li>
</ul>

<h3>Kontakt:</h3>
<p>[Hier könnten Kontaktinformationen stehen]</p>


{% include paginator.html %}
